<div class="row">
  <div class="col-sm-12">
    <form id="user-form" class="form" action="/users" method="POST">
      <fieldset>
        <legend>Sign up</legend>

        <% var errors = (((typeof(user) !== 'undefined') && user.errors) ? user.errors : {}); %>

        <div class="form-group <%= fieldClass(errors, 'sitePassword') %>">
          <label for="email" class="control-label">* Site Password</label>
          <%- contentTag('input', params.sitePassword, {type:'text', class:'form-control', name:'sitePassword'}) %>
          <%- fieldMessage(errors, 'sitePassword'); %>
        </div>

        <%- partial('form', {user: params, errors: errors}) %>

        <div class="form-group">
          <%- contentTag('input', 'Submit', {type: 'submit', class: 'btn btn-primary'}) %>
        </div>
      </fieldset>
    </form>
  </div>
</div>
