<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form id="password-reset-form" role="form" action="/update-password" method="POST">
        <fieldset>
          <legend>Reset your password</legend>
          <% if (params.errors) { %>
          <div class="form-group">
            <% for(var err in params.errors) { %>
              <div class="alert alert-danger"><%= params.errors[err]; %></div>
            <% } %>
          </div>
          <% } %>
          <div class="form-group">
            <label for="password" class="control-label">* Password</label>
            <%- contentTag('input', '', {type:'password', class:'form-control', name:'password'}) %>
          </div>
          <input type="hidden" name="token" value="<%= params.token %>" />
          <div class="form-group">
            <label for="confirmPassword" class="control-label">* Confirm Password</label>
            <%- contentTag('input', '', {type:'password', class:'form-control', name:'confirmPassword'}) %>%>
          </div>
          <div class="well form-actions">
            <%- contentTag('input', 'Save Password', {type: 'submit', class: 'btn btn-primary'}) %>
          </div>
        </fieldset>
      </form>
    </div>
</div>
