<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="media profile well">
      <div class="pull-left">
        <img class="media-object" src="<%= getAvatar(user); %>" alt="<%= user.username %>">
      </div>
      <div class="media-body">
        <h2 class="media-heading"><%= user.username %></h2>
        <p class="lead"><%= user.fullName(); %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9 col-sm-offset-2">
    <% for (var i=0; i < posts.length; i++) { %>
        <%= partial('/posts/show', {post: posts[i], session: session}); %>
    <% } %>
  </div>
</div>
