<div class="item">
  <div class="media upload alert alert-default">
    <button type="button" class="close btn-remove-upload" data-action="<%= delete_url %>" aria-hidden="true">×</button>
    <a class="upload-image" href="#">
      <img class="media-object" src="<%= small_url %>" alt="Upload Thumbnail">
    </a>
    <hr/>
    <div class="media-body">
      <h4 class="media-heading">Caption</h4>
      <input type="hidden" name="uploads[<%= id %>][id]" value="<%= id %>" />
      <textarea name="uploads[<%= id %>][title]"></textarea>
    </div>
  </div>
</div>
