<% if (files.length > 1) { %>
  <div class="justified-gallery" >
  <% for (var i = 0; i < files.length; i++) { %>
    <a href="<%= files[i].full %>" class="lightbox">
      <img src="<%= files[i].thumbnail %>" title="<%= files[i].title %>"/>
    </a>
  <% } %>
<% } else { %>
  <img src="<%= files[0].small %>" title="<%= files[0].title %>" />
<% } %>
