<div id="post-<%= post.id; %>" data-post-id="<%= post.id %>" class="media">
  <div class="media-image pull-left">
    <img class="media-object" src="<%= getAvatar(post.user); %>" alt="<%= post.user.username; %>">
  </div>
  <div class="media-body">
    <% if (session.get('userId') === post.userId) { %>
      <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle post-actions" data-toggle="dropdown"><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= editPostPath(post.id) %>">Edit</a></li>
        </ul>
      </div>
    <% } %>
    <abbr class="timeago pull-right" title="<%= geddy.moment(post.createdAt).toISOString() %>"></abbr>
    <h2 class="media-heading"><a href="/users/<%= post.user.id %>"><%= post.user.username; %></a></h2>
    <p class="lead"><%= post.content; %></p>
    <% if (post.files) { %>
      <%= partial('/posts/files', {files: post.files}); %>
    <% } %>
  </div>
  <div class="media-toolbar clearfix">
    <div class="post-actions pull-right">
      <button class="comment btn btn-circle" data-toggle="collapse" data-target="#comments-<%= post.id %>"><i class="glyphicon glyphicon-comment"></i></button>
      <% if (post.comments) { %>
        <span class="badge badge-circle comment-count"><%= post.comments.length %></span>
      <% } else { %>
        <span class="badge badge-circle comment-count">0</span>
      <% } %>
      <% if (geddy.model.Post.alreadyLiked(post, session.get('userId'))) { %>
        <button class="unlike btn btn-circle"><i class="glyphicon glyphicon-heart"></i></button>
      <% } else { %>
        <button class="like btn btn-circle"><i class="glyphicon glyphicon-heart-empty"></i></button>
      <% } %>
      <% if (post.likes) { %>
        <span class="dropdown">
          <a data-toggle="dropdown" class="btn btn-circle badge-likes" href="#"><%= post.likes.length %></a>
          <ul class="dropdown-menu" role="menu">
            <% for (var i=0; i < post.likes.length; i++) { %>
              <% if (post.likes[i].user.id === session.get('userId')) { %>
                <li><a>You liked this.</a></li>
              <% } else { %>
                <li><a><%= post.likes[i].user.givenName %> liked this.</a></li>
              <% } %>
            <% } %>
          </ul>
        </span>
      <% } else { %>
        <span class="dropdown">
          <a data-toggle="dropdown" class="btn btn-circle badge-likes" href="#">0</a>
        </span>
      <% } %>
    </div>
  </div>
  <div id="comments-<%= post.id %>" class="collapse comments clearfix <%= commentsCollapse %>">
    <hr/>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-4">
        <div class="comment-list">
          <% if (post.comments) { %>
            <% for (var i=0; i < post.comments.length; i++) { %>
              <%= partial('/posts/comment', {comment: post.comments[i], session: session}); %>
            <% } %>
          <% } %>
        </div>

        <div class="form-group">
          <textarea class="comment-input form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-default add-comment">Comment</button>
      </div>
    </div>
  </div>
</div>
