<%= partial('layout_header'); %>
  <body class="application">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%- linkTo('Simplifeed', mainsPath, {class: 'navbar-brand'}) %>
        </div>

        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <% if (session.get('userId')) { %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <span id="notification-count" class="badge">0</span><b class="caret"></b></a>
                <ul id="notifications" class="dropdown-menu"></ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/users/<%= session.get('userId') %>/edit"><i class="glyphicon glyphicon-user"></i> Edit Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
                </ul>
              </li>
              <li>
                <form>
                  <a class="btn btn-primary btn-sm navbar-btn" href="/posts/add"><i class="glyphicon glyphicon-plus-sign"></i> New Post</a>
                </form>
              </li>
            <% } else { %>
              <li><a href="/login"><i class="glyphicon glyphicon-log-in"></i> Sign in</a></li>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <%- displayFlash(flash); %>
      <%- render(); %>
    </div>
    <script>
      <% if (session.get('userId')) { %>
        var userId = "<%= session.get('userId') %>";
      <% } %>
    </script>
  </body>
<%= partial('layout_footer'); %>
