<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= geddy.config.appName %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%- scriptLink('http://html5shim.googlecode.com/svn/trunk/html5.js', {type:'text/javascript'}) %>
    <![endif]-->

    <%- scriptLink('/js/vendor/jquery.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/vendor/bootstrap.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/vendor/ejs.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/vendor/imagesLoaded.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/vendor/masonry.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/vendor/jquery-fileupload/jquery.ui.widget.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/vendor/jquery-fileupload/jquery.iframe-transport.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/vendor/jquery-fileupload/jquery.fileupload.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/vendor/justifiedGallery.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/vendor/imagelightbox.min.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/vendor/jquery.liveurl.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/vendor/jquery.timeago.js', {type: 'text/javascript'}) %>

    <!-- Typkit -->
    <% if (geddy.config.typekit) { %>
      <script type="text/javascript" src="<%= geddy.config.typekit.url %>"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <% } %>

    <%- scriptLink('/js/core/core.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/core/models.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/config/init.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/min/main.min.js', {type: 'text/javascript'}) %>

    <%- styleLink('/css/jquery.fileupload.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/jquery.fileupload-ui.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/csspinner.min.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/style.css', {rel:'stylesheet'}) %>

    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>
